<div class="page-header">
    <h2>Game #{{id}}</h2>
</div>
{{#finished}}
    <h2>Game has been finished</h2>
{{/finished}}
<div>
    Tries left: {{tries_left}}
</div>
<div class="panel panel-default">
    <div class="panel-body text-center">
        <strong>{{word}}</strong>
    </div>
</div>